<h1>
  User: <%= current_user.name %>
</h1>

<h2>
 Email: <%= current_user.email %>
</h2>

<div class="col-md-8">
  <%= render partial:'items/form', locals: {user: current_user, item: @item} %>
</div>


<div class="col-md-8">
  <%= render partial:'items/item', locals:{user: @user, items: @items} %>
</div>
